@import '../public/functions.scss';
@import '../public/variables';
.sec-info{
    display: none;
    li{
        height: $listLineHeight;
        padding-left: 89rpx;
    }
    .sendComopany{
        border-bottom: 2rpx $listBorder solid ;
    }
    span{
        margin-right: 12rpx;
    }
    @include config_font($adviceFontSize);
    input{
        @include config_font($inputFontSize);
        @include config_width_height(450rpx);
    }
}
#show{
    animation: hideIndex 0.2s;
    display: block;
}
@keyframes hideIndex{
    0%{ opacity: 0; transform: translate(0, -30rpx) };
    100%{opacity: 1; transform: translate(0, 0) }
}

