@import '../public/variables';
@import '../public/functions.scss';

.addAdr{
    padding: 18rpx 26rpx 0 26rpx;
    &-title{
        margin:0 0 62rpx 50rpx;
        @include config_font(40rpx,$blackFont);
    }
    &-content{
        margin-left: 21rpx;
        &-local{
            position: relative;
            @include config_rowbox_centercol();
            .first{
                @include config_width_height(34rpx,45rpx);
            }
            .second{
                position: absolute;
                right: 5rpx;
                @include config_width_height(13rpx,27rpx);
            }
            span{
                @include config_font($adviceFontSize);
                margin-left: 16rpx;
            }
        }
        .localFor{
            margin: 18rpx 0 0 48rpx;
            @include config_font($inputFontSize);
            padding-bottom: 18rpx;
            border-bottom: 2rpx $listBorder solid;
        }
        .configList{
            li{
                @include config_width_height(auto,70rpx);
                @include config_rowbox_centercol();
                border-bottom: 2rpx $listBorder solid;
            }
            .config-tele{
                @include config_font($inputFontSize);
                img{
                    @include config_width_height(35rpx,35rpx);
                } 
                span{
                    margin-left: 19rpx;
                }
                input{
                    margin-left: 19rpx;
                    @include config_font($inputFontSize);
                }
            }
        }
    } 
    &-config{
        background: black;
        @include config_width_height(636rpx,67rpx);
        color: white;
        line-height: 67rpx;
        margin-top: 114rpx;
    }
}
