@import '../public/variables';
@import '../public/functions.scss';

.choose{
    &-title{
        position: relative;
        @include config_width_height(auto,100rpx);
        @include config_rowbox_centercol();
        border-bottom: 2rpx $listBorder solid;
        img{
            position: absolute;
            left: 140rpx;
            z-index: 5;
            @include config_width_height(27rpx,27rpx);
        }
        span{
            @include config_font($adviceFontSize);
            margin-left: 18rpx;
            margin-right: 18rpx;
        }
        input{
            background: white;
            line-height:56rpx;
            @include config_width_height(624rpx,56rpx);
            @include config_font($inputFontSize,#4d4d4d);
            border-radius: 9rpx;
            padding: 0 52rpx 0 52rpx;
            box-sizing: border-box;
        }
    }
    &-content{
        @include config_width_height(701rpx,131rpx);
        margin: 0 25rpx 0 24rpx;
        &-avatar{
            text-align: center;
            line-height: 60rpx;
            color: white;
            font-size: 36rpx;
            @include config_width_height(60rpx,60rpx);
            border-radius: 50%;
            background: $mainColor;
        }
        &-info{
            margin-left: 24rpx;
            @include config_font($baseinfoSize,#808080);
            @include config_column();
            &-1{
                @include config_rowbox();
                align-items: flex-end;
                span{
                    margin-left: 10rpx;
                    @include config_font($otherinfoSize,$adviceFont);
                }
            }
            &-2{
                @include config_font($otherinfoSize,#808080);
                max-width: 450rpx;
                margin-top: 11rpx;
            }
            padding: 25rpx 0;
        }
        &-addr{
            position: absolute;
            right:62rpx;
            @include config_rowbox_centercol(flex-end);
            margin-left: 111rpx;
            border-left: #b7b7b7 2rpx solid;
            @include config_width_height(70rpx,72rpx);
            img{
                @include config_width_height(31rpx,29rpx);
            }
        }
        li{
            @include config_width_height(701rpx);
            @include config_rowbox_centercol();
            border-bottom: #d2d2d2 2rpx solid;
        }
    }
    &-content-bnt{
        @include config_rowbox_center();
        height: 68rpx;
        img{
            @include config_width_height(636rpx,68rpx);
        }
        margin-top: 110rpx;
    }
}

