@import '../public/_variables';
@import '../public/functions';
@import '../public/set_common.scss';

.setSend{
    padding: 0 $rightPadding 0 $leftPadding;
    margin-top: 20rpx;
    .textHolder {
        span{
            position: absolute;
            z-index: 5;
            @include config_font($adviceFontSize);
            top: 33rpx;
            margin-left: 22rpx;
        }
    }
    &-baseInfo{
        @include config_width_height(717rpx,191rpx);
        @include config_font($inputFontSize,$normalFont,light);
        box-sizing: border-box;
        background: white;
        padding-top: 52rpx;
        padding-left: 22rpx;
        border-radius: 12rpx;
    }
    &-con{
        margin-top: 29rpx;
        margin-left: 29-$leftPadding;
        li{
            @include config_rowbox_centercol();
        }
        &-sex{
            @include togher();
            @include firstImg(34rpx,34rpx);
            @include firstSpan();
            div{
                @include config_font(24rpx);
                display: inline-block;
                @include config_width_height(97rpx,36rpx);
                line-height: 36rpx;
                background: #E6E6E6;
                border: $listBorderHieght solid $mainColor;
                text-align: center;
                border-radius: 48rpx;
                margin-right: 12rpx; 
            }
        }
        &-localGet{
            @include firstSpan2();
            @include firstImg(34rpx,40rpx);
            @include secondImg();
            @include theDiv();
        }
        &-localext{
            border-bottom: $listBorderHieght solid $listBorder;
            padding: 12rpx 0rpx;
            @include firstImg(34rpx,34rpx);
            @include inputLoc();
        }
        &-localSend{
            @include secondImg();
            @include theDiv();
            div{
                margin-left:  34rpx + 14rpx + $imageMargin;
            }
        }
        &-sendInfo{
            display: block !important;
            border-bottom: 2rpx $listBorder solid ;
            #sendInfoTitle{
                @include config_font($adviceFontSize,#000,light);
                margin-left: 16rpx;
                margin-right: 9rpx;
            }
            #warning{
                @include config_font(23rpx,#808080,light);
            }
            .changeDiv{
                @include config_font(26rpx,#808080);
                @include config_width_height(550rpx,100rpx);
                margin: 6rpx 0 14rpx 89rpx;
            }
            .firstCol{
                padding: 8rpx 0;
                @include firstImg(34rpx,34rpx);
                @include config_font(19rpx,$adviceFont,light);
            }
            .second-img{
                height: 20rpx !important;
                width: 11rpx !important;
                margin-left: 435rpx !important;
            }
        }
        &-reward{
            @include togher();
            @include firstImg(34rpx,34rpx);
            input{
                @include config_width_height(450rpx);
                margin-left: 14rpx;
                font-size: $inputFontSize;
            }
            span{
                margin-left: 14rpx;
                @include config_font($adviceFontSize);
            }
        }
    }
}
.setSend-bottom{
    @include config_width_height(100%,99rpx);
    background-color: #000;
    position: fixed;
    bottom: 0rpx;
    @include config_rowbox();
    justify-content: flex-end;
    &-info{
        @include config_colbox_centercol();
        @include config_font(23rpx,white);
        text-align: right;
        margin-right: 27rpx;
        span{
            @include config_font(41rpx,white);
        }
        &-2{
            @include config_font(22rpx,$adviceFont);
        }
    }
    button{
        @include config_width_height(142rpx,100%);
        margin: 0;
        border-radius: 0;
        background-color: $mainColor;
        line-height: 99rpx;
        @include config_font(30rpx);
        padding: 0;
    }
}

#show{
    animation: hideIndex 0.3s;
    display: block;
}
@keyframes hideIndex{
    0%{ opacity: 0; transform: translate(0, -30rpx) };
    100%{opacity: 1; transform: translate(0, 0) }
}

#hide{
    display: none;
}

#activeClass{
    border-color: brown
}
#errorClass{
    border:none
}   