$theColor:rbg(255,204,0);
$someDis:73rpx;
$listBorder:#CFCFCF;
$adviceFont:#B2B2B2;
$normalFont:black;
$mainColor:#FCD800;
$listLineHeight:48rpx;
$listBorderHieght:3rpx;
$leftPadding:19rpx;
$rightPadding:14rpx;
$imageMargin:18rpx;