$theColor:rbg(255,204,0);
$someDis:73rpx;
$listBorder:#CFCFCF;
$adviceFont:#B2B2B2;
$normalFont:black;
$mainColor:#FCD800;
$blackFont:#4d4d4d;
$showColor:#808080;
$listLineHeight:68rpx;
$listBorderHieght:3rpx;
$leftPadding:19rpx;
$rightPadding:14rpx;
$imageMargin:18rpx;
$adviceFontSize:30rpx;
$inputFontSize:28rpx;
$baseinfoSize:28rpx;
$otherinfoSize:26rpx;
