@import '../public/_variables';
@mixin togher() {
    height: $listLineHeight;
    border-bottom: $listBorderHieght solid $listBorder;
}
@mixin firstImg($width,$height) {
    img{
        margin-left: $imageMargin;
        @include config_width_height($width,$height);
    }
}
@mixin firstSpan() {
    span{
        margin-left: 14rpx;
        margin-right: 10rpx;
        @include config_font($adviceFontSize,$adviceFont,light);
    }
}
@mixin firstSpan2() {
    span{
        margin-right: 10rpx;
        @include config_font($adviceFontSize);
    }
}
@mixin inputLoc() {
    margin-left: 34rpx + 14rpx + $imageMargin;
    @include config_font($inputFontSize,$normalFont,light);
}

@mixin secondImg() {
    .second-img{
        @include config_width_height(11rpx,20rpx);
    }
}
@mixin theDiv() {
    div{
        margin-left: 14rpx;
        @include config_rowbox_centercol(space-between);
        @include config_width_height(598rpx,$listLineHeight);
        border-bottom: $listBorderHieght solid $listBorder;
        @include config_font($adviceFontSize,$normalFont,light);
    }
}